name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2
    - name: setup
      uses: actions/setup-node@v1

    - name: install
      run: sudo apt-get install -y libunbound-dev |
           npm install nyc coveralls

    - name: lint
      run: npm run lint

    - name: test
      run: node_modules/.bin/nyc --reporter lcov node_modules/.bin/bmocha -- --reporter spec test/*.js

    - name: coverage
      uses: coverallsapp/github-action@v1.1.1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
